
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/NPSLogFile/.vs/*
library/NPSLogFile/NPSLogFile/bin/*
library/NPSLogFile/NPSLogFile/obj/*

# ignore PowerShell Studio MetaData
NPSLogFile/NPSLogFile.psproj
NPSLogFile/NPSLogFile.psproj.bak
NPSLogFile/NPSLogFile.psprojs
NPSLogFile/NPSLogFile.psproj
